{% import "macros/macros.html" as post_macros %}
<!DOCTYPE html>
<html lang="en" class="dark light">
    {% include "partials/header.html" %}

    <body>
        {% include "apollo/body_start.html" ignore missing %}
        <div class="left-content">
            {% block left_content %}
            {% endblock left_content %}
        </div>

        <div class="content">
            {% include "partials/nav.html" %}

            {# Post page is the default #}
            {% block main_content %}
                Nothing here?!
            {% endblock main_content %}

            {% if page.extra.comment is defined %}
                {% set show_comment = page.extra.comment %}
            {% else %}
                {% set show_comment = false %}
            {% endif %}
            <footer>
                {% if config.markdown.external_links_target_blank %}
                {% set link_attrs = "rel='me noopener' target='_blank'" %}
                {% else %}
                {% set link_attrs = "rel='me'" %}
                {% endif %}
                <div class="footer-info">
                    {{ now() | date(format="%Y") }} © {{ config.extra.copyright }} | 
                    <a {{ link_attrs | safe }} href="https://opensource.org/license/mit">License: OSI: MIT</a>
                     | 
<a {{ link_attrs | safe }} href="/privacy/">Privacy Policy</a>
                </div>
            </footer>
        </div>
        <div class="right-content">
            {% block right_content %}
            {% endblock right_content %}
        </div>
        {% include "apollo/body_end.html" ignore missing %}

    </body>

</html>
